
@{
    ViewBag.Title = "Register Confirmation";
}

<div class="page page-confirm-registration">

    <div class="row-fluid ticket-main-title-wrap">
        <div class="span10">
            <h3>Register Confirmation</h3>
        </div>
        <div class="span2 clearfix ticket-actions">
            <a class="right" href='@Url.Action("Index", "Home")'>Home</a>
        </div>
    </div>

   <p>
       To complete your registration follow the link sent to your email.
   </p>

</div>
