@model CategoryViewModel
@{
    this.ViewBag.Title = "Category Details";
}

<div class="page page-category-details">
    <div class="row-fluid ticket-main-title-wrap">
        <div class="span10">
            <h3>Category Details</h3>
        </div>
        <div class="span2 clearfix ticket-actions">
            <a class="right" href='@Url.Action("Index", "Home")'>Home</a>
        </div>
    </div>

    @Html.Partial("_CategoryDetails", this.Model, new ViewDataDictionary { { "RenderButtons", true } })

</div>