@model TicketCreateUpdateViewModel

@{
    ViewBag.Title = "Add Ticket";
}

<h3>New Ticket</h3>

<div class="page page-create-ticket">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset class="form-horizontal ticket-form">

            @Html.Partial("_CreateUpdateTicket", this.Model)

            <div class="controls-row clearfix">
                <input type="submit" value="Add Ticket" class="btn btn-primary right" />
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>