@using TicketingSystem.Web.Models.Tickets;

@model TicketDetailsViewModel

@{
    ViewBag.Title = "Delete";
}

<h3>Delete</h3>

<div class="alert alert-error clearfix">
    <strong>Warning!</strong> Are you sure you want to delete this?.
    <a type="button" href='@Url.Action("Details", new { Id = this.Model.Id})' class="right">Back</a>
</div>

@Html.Partial("_TicketDetails", this.Model, new ViewDataDictionary { { "RenderButtons", false } })

<div class="clearfix">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger right" />
    }
</div>