@{
    ViewBag.Title = "NotFound";
}
<h3>Not found!</h3>

<p class="alert alert-danger">The page you are loocking for was not found!</p>
<p>Check once againg the url address for error or go to <a href="/">home page</a></p>

