@using TicketingSystem.Web.Models.Comments;

@model CommentDetailsViewModel

<div class="row-fluid">
    <div class="span12 ticket-comment">
        <span class="badge">@this.Model.PostDate.ToString()</span>
        <strong>@this.Model.UserName:</strong>
        <span>@this.Model.Content</span>
    </div>
</div>