@using TicketingSystem.Web.Models.Comments;

@model CommentDetailsViewModel

<div class="row-fluid">
    <div class="comment-info-wrap span12">
        <div class="comment-info header">
            @this.Model.PostDate.ToString() : @this.Model.UserName
        </div>
        <div class="comment-info content">@this.Model.Content</div>
    </div>
</div>