@using TicketingSystem.Web.Models.Comments;

@model CommentDetailsViewModel

@using (Html.BeginForm("PostComment", "Tickets"))
{
    <div class="controls">
        @Html.EditorFor(m => m.Content)
        @Html.Hidden("TicketId", Model.TicketId)
        @Html.ValidationMessageFor(model => model.Content, null, new { @class = "help-inline" })
        @Html.AntiForgeryToken()
    </div>
    <div class="controls-row clearfix">
        <input class="btn btn-primary right" type="submit" value="Post" />
    </div>
}