body {
	padding-top: 50px;
}

.block {
	display: block;
}

.hint {
	font-style: italic;
}

.right {
	float: right;
}

.separate {
	margin-top: 15px;
}

.form-actions {
	background-color: #fff;
}

a:hover {
	text-decoration: none;
}

.page-index .sub-items-list .sub-item {
	margin-bottom: 5px;
}

.controls input,
.controls textarea,
.controls select {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
}

.controls textarea {
	height: 100px;
}

.controls input[type="checkbox"] {
	margin: 0;
	width: auto;
}

.ticket-header {
	margin: 10px 0;
	padding: 0 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ddd;
}

	.ticket-header .ticket-actions {
		margin-top: 5px;
	}

.ticket-subheader {
	margin: 10px 0;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ddd;
}

.ticket-main-title-wrap .ticket-actions {
	padding: 20px 10px;
}

.ticket-details-wrap .ticket-title {
	font-weight: bold;
}

.ticket-details-wrap {
	position: relative;
	margin: 5px 0;
}

	.ticket-details-wrap .ticket-info.header {
		position: absolute;
		width: 100px;
		font-weight: bold;
		display: inline-block;
	}

	.ticket-details-wrap .ticket-info.content {
		display: inline-block;
		margin-left: 100px;
		text-align: justify;
	}

.comment-info-wrap {
	padding: 5px;
}

	.comment-info-wrap:hover,
	.attachment-info-wrap:hover {
		background-color: #ddd;
	}

	.comment-info-wrap .comment-info.header {
		font-weight: bold;
	}

	.comment-info-wrap .comment-info.content {
		text-align: justify;
	}

.attachment-info-wrap {
	padding: 2px 5px;
}

.attachment-info-wrap {
	line-height: 30px;
}

.gridview select {
	width: 100%;
}

.gridview {
	width: 100%;
}

	.gridview .header {
		padding: 5px;
		background-color: #ddd;
		border: 1px solid #ddd;
	}

	.gridview .content {
		padding: 10px;
		border: 1px solid #ddd;
		vertical-align: central;
	}

	.gridview .filter {
		margin-top: 5px;
	}

	.gridview .tickets-list.header.title {
		width: 600px;
	}

	.gridview .tickets-list.header.category {
		width: 300px;
	}

	.gridview .tickets-list.header.author,
	.gridview .tickets-list.header.status,
	.gridview .tickets-list.header.priority {
		width: 90px;
	}

	.gridview .tickets-list.content.author,
	.gridview .tickets-list.content.status,
	.gridview .tickets-list.content.priority {
		text-align: center;
	}

	.gridview .categories-list.header.name {
		width: 1000px;
	}

	.gridview .categories-list.header.tickets-count {
		width: 170px;
	}

	.gridview .categories-list.content.tickets-count {
		text-align: center;
	}
