body {
	padding-top: 50px;
}

.block {
	display: block;
}

.hint {
	font-style: italic;
}

.right {
	float: right;
}

.separate {
	margin-top: 15px;
}

a:hover {
	text-decoration: none;
}

.page-index .sub-items-list .sub-item {
	margin-bottom: 5px;
}

.controls input,
.controls textarea,
.controls select {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
}

.controls textarea {
	height: 100px;
}

.ticket-header {
	margin: 10px 0;
	padding: 0 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ddd;
}

	.ticket-header .ticket-actions {
		margin-top: 5px;
	}

.ticket-subheader {
	margin: 10px 0;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ddd;
}

.ticket-main-title-wrap .ticket-actions {
	padding: 20px 10px;
}

.ticket-details-wrap .ticket-title {
	font-weight: bold;
}

.ticket-details-wrap {
	position: relative;
	margin: 5px 0;
}

	.ticket-details-wrap .ticket-info.header {
		position: absolute;
		width: 100px;
		font-weight: bold;
		display: inline-block;
	}

	.ticket-details-wrap .ticket-info.content {
		display: inline-block;
		margin-left: 100px;
		text-align: justify;
	}

.comment-info-wrap {
	padding: 5px;
}

	.comment-info-wrap:hover {
		background-color: #ddd;
	}

	.comment-info-wrap .comment-info.header {
		font-weight: bold;
	}

	.comment-info-wrap .comment-info.content {
		text-align: justify;
	}

.tickets-list-gridview select {
	width: 100%;
}

.tickets-list-gridview .tickets-list.header {
	padding: 5px;
	background-color: #ddd;
	border: 1px solid #ddd;
}

.tickets-list-gridview .tickets-list.header.title {
	width: 600px;
}

.tickets-list-gridview .tickets-list.header.category {
	width: 300px;
}

.tickets-list-gridview .tickets-list.header.author,
.tickets-list-gridview .tickets-list.header.status,
.tickets-list-gridview .tickets-list.header.priority {
	width: 90px;
}

.tickets-list-gridview .tickets-list.filter {
	margin-top: 5px;
}

.tickets-list-gridview .tickets-list.content {
	padding: 10px;
	border: 1px solid #ddd;
	vertical-align: central;
	/*text-align: justify;*/
}

.tickets-list-gridview .tickets-list.content.author,
.tickets-list-gridview .tickets-list.content.status,
.tickets-list-gridview .tickets-list.content.priority {
	text-align: center;
}

/*body {
	padding-top: 60px;
	padding-bottom: 40px;
}

a:hover {
	text-decoration: none;
}

.no-color {
	background-color: #fff;
	border-style: none;
}

.search-button {
	padding-top: 15px;
	float: right;
}

.ticket-title,
.category-name {
	padding: 10px;
	font-size: 16pt;
	background: #EEEEEE;
}

.ticket-description {
	text-align: justify;
}

.ticket-image {
	float: right;
}

.ticket-comment {
	padding: 5px;
}

.ticket-form.post-ticket-comment-form > textarea {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

.ticket-comment:hover {
	background: #eee;
}

.ticket-form.form-horizontal input:not([type=submit]),
.ticket-form.form-horizontal textarea,
.ticket-form.form-horizontal select {
	width: 100%;
}

.ticket-form.form-horizontal textarea,
.ticket-form.form-horizontal input:not([type=submit]) {
	box-sizing: border-box;
	height: auto;
}

.ticket-actions {
	float: right;
}

	.ticket-actions > .btn {
		margin-top: 20px;
		margin-left: 10px;
	}


.ticket-filter {
	margin-top: 10px;
}

	.ticket-filter > select {
		width: 100%;
	}

.separator {
	margin: 10px 0;
	border-bottom: 1px solid #999;
}

.search-results ul li {
	margin: 5px;
}

.back-link {
	padding-top: 10px;
}

.create-link {
	padding-top: 10px;
}

.gridview {
	width: 100%;
	-ms-word-break: break-all;
	word-break: break-all;
}

	.gridview .actions {
		width: 15%;
	}

	.gridview td, th {
		padding: 5px 7px 5px 7px;
		border: 1px solid #bbb;
	}

	.gridview th {
		background: #eee;
	}

	.gridview table td {
		padding: 0px 5px 0px 0px;
		border-style: none;
	}

.panel {
	display: inline-block;
	padding: 5px 15px 10px 15px;
	margin-top: 20px;
	border-style: dotted;
	border-width: 1px;
	border-color: #BBB;
	border-radius: 6px;
	box-sizing: border-box;
}

	.panel h2 {
		background: #EEE;
		font-size: 20px;
		padding-left: 10px;
		border-radius: 4px;
	}

	.panel label span {
		display: inline-block;
		width: 85px;
	}

	.panel label * {
		margin-top: 8px;
		width: 300px;
	}

.link-button {
	background: #E0E0E0;
	padding: 3px 8px 3px 8px;
	border-radius: 2px;
	margin: 0px 2px 0px 2px;
}

	.link-button:hover {
		background: #AAA;
		color: #EEF;
		text-decoration: none;
	}

.container > .span4 {
	width: 360px;
}

.block {
	display: block;
}

.search-result.result-item {
	margin: 10px 0;
}

.actions-column {
	width: 110px;
}

.search.main-link {
	font-weight: bold;
}

.label.thiny {
	background-color: #aaa;
	text-shadow: none;
}

.page-index .label.thiny {
	min-width: 65px;
}

.page-index {
	margin-top: 15px;
}

@media (max-width: 767px) {
	.ticket-image {
		float: left;
	}
}*/
