body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

a:hover {
	text-decoration: none;
}

/* styles for removing the background from form */
.no-color {
	background-color: white;
	border-style: none;
}

.search-button {
	padding-top: 15px;
	float: right;
}

ul li {
	padding-bottom: 5px;
}

.ticket-title,
.category-name {
	padding: 10px;
	font-size: 16pt;
	background: #EEEEEE;
}

.ticket-description {
	text-align: justify;
}

.ticket-image {
	float: right;
}

.ticket-comment {
	padding: 5px;
}

.post-ticket-comment-form > textarea {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

.ticket-comment:hover {
	background: #eee;
}

.separator {
	margin: 10px 0;
	border-bottom: 1px solid #999;
}

.search-results ul li {
	margin: 5px;
}

.back-link {
	padding-top: 10px;
}

.create-link {
	padding-top: 10px;
}

.gridview {
	width: 100%;
	-ms-word-break: break-all;
	word-break: break-all;
}

	.gridview .actions {
		width: 15%;
	}

	.gridview td, th {
		padding: 5px 7px 5px 7px;
		border-style: dotted;
		border-color: #BBB;
	}

	.gridview th {
		background: #eee;
	}

	.gridview table td {
		padding: 0px 5px 0px 0px;
		border-style: none;
	}

.panel {
	display: inline-block;
	padding: 5px 15px 10px 15px;
	margin-top: 20px;
	border-style: dotted;
	border-width: 1px;
	border-color: #BBB;
	border-radius: 6px;
	box-sizing: border-box;
}

	.panel h2 {
		background: #EEE;
		font-size: 20px;
		padding-left: 10px;
		border-radius: 4px;
	}

	.panel label span {
		display: inline-block;
		width: 85px;
	}

	.panel label * {
		margin-top: 8px;
		width: 300px;
	}

.link-button {
	background: #E0E0E0;
	padding: 3px 8px 3px 8px;
	border-radius: 2px;
	margin: 0px 2px 0px 2px;
}

	.link-button:hover {
		background: #AAA;
		color: #EEF;
		text-decoration: none;
	}

.container > .span4 {
	width: 360px;
}

.block {
	display: block;
}

.search-result.result-item {
	margin: 10px 0;
}

.actions-column {
	width: 110px;
}

.search.main-link {
	font-weight: bold;
}

.label.thiny {
	background-color: #aaa;
	text-shadow: none;
}

.page-index .label.thiny {
	min-width: 65px;
}

.page-index {
	margin-top: 15px;
}

@media (max-width: 767px) {
	.ticket-image {
		float: left;
	}
}
